*{
    margin: 0%;
    padding: 0%;
}
.body{
    height: 100dvh;
    width: 100%;
    display: flex;
    background-color: #D6CC99;
    
}

.whole{
    height: 100dvh;
    width: 70%;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 4vw;
    margin-top: 4vh;
}
