*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    height: 10dvh;
    width: 100%;
    background-color: #001524;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 3px 9px #040D12;
}
/* .sidebar{
    height: 90dvh;
    width: 20%;
    background-color: brown;
} */
.lms{
    height: 10dvh;
    width: 10%;
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;
    margin-top: 2vh;
}
.nav-space{
    height: 10dvh;
    width: 80%;
}
.icons{
    height: 10dvh;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}
.dnav{
    color: white;
}
.dnav:hover{
    color: rgb(234, 116, 96);
}