*{
    margin: 0%;
    padding: 0%;
}
.body{
    height: 100dvh;
    width: 100%;
    display: flex;
    background-color: #5C8374;
}
.whole{
    height: 100dvh;
    width: 80%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 4vw;
    margin-top: 4vh;
}
.sub-navbar{
    height: 70px;
    width: 100%;
    /* background-color: rgb(209, 75, 75); */
    margin-top: 20px;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rtn-filter{
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 9px #5C3D2E;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.rtn-filter a{
    height: 40px;
    width: 100%;
    background-color: #B2533E;
    border: 2px solid #B2533E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.rtn-filter a:hover{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #B2533E;
    background-color: white;
    font-weight: 700;
}
.show-all{
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 9px #5C3D2E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.show-all a{
    height: 40px;
    width: 100%;
    background-color: #B2533E;
    border: 2px solid #B2533E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.show-all a:hover{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #B2533E;
    background-color: white;
    font-weight: 700;
}
.space{
    height: 40px;
    width: 40%;
    margin-top: 10px;
}
.search{
    height: 40px;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 9px #5C3D2E;
}
.search input{
    height: 40px;
    width: 100%;
    background-color: #B2533E;
    border: 2px solid #B2533E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}
.search input:hover{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #B2533E;
    background-color: white;
    font-weight: 700;
}
.search-logo{
    height: 40px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 9px #5C3D2E;
}
.search-logo button{
    height: 40px;
    width: 100%;
    background-color: #B2533E;
    border: 2px solid #B2533E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-logo button:hover{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B2533E;
    background-color: white;
    font-weight: 700;
}
.issued-table{
    margin-top: 5dvh;
}