*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    height: 10dvh;
    width: 100%;
    background-color:none;
}
.sidebar{
    height: 100dvh;
    width: 20%;
    background-color: #445D48;
    box-shadow: 5px 0px 9px #040D12;
}
.menu{
    height: 100dvh;
    width: 100%;
    display: list-item;
    justify-content: center;
    align-items: center;
}
.Navlink{
    text-decoration: none;
    color: white;
}
.dash{
    height: 10dvh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #183D3D;
    background-color: #183D3D;
    box-shadow: 5px 5px 9px #040D12;
}

.dash:hover{
    height: 10dvh;
    width: 90%;
    background-color: white;
    color:black;
    text-decoration: none;
}
.mem{
    height: 10dvh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #183D3D;
    background-color: #183D3D;
    box-shadow: 5px 5px 9px #040D12;
}
/* .mem Navlink{
    height: 10dvh;
    width: 80%;
    text-decoration: none;
} */
.mem:hover{
    height: 10dvh;
    width: 90%;
    background-color: white;
    color:black;
    text-decoration: none;
}
.book{
    height: 10dvh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #183D3D;
    background-color: #183D3D;
    box-shadow: 5px 5px 9px #040D12;
}
/* .book Navlink{
    height: 10dvh;
    width: 80%;
    text-decoration: none;
} */
.book:hover{
    height: 10dvh;
    width: 90%;
    background-color: white;
    color:black;
    text-decoration: none;
}
    
.isd{
    height: 10dvh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #183D3D;
    background-color: #183D3D;
    box-shadow: 5px 5px 9px #040D12;
}
/* .isd Navlink{
    height: 10dvh;
    width: 80%;
    text-decoration: none;
} */
.isd:hover{
    height: 10dvh;
    width: 90%;
    background-color: white;
    color:black;
    text-decoration: none;
}
.rtn{
    height: 10dvh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #183D3D;
    background-color: #183D3D;
    box-shadow: 5px 5px 9px #040D12;
}
/* .rtn Navlink{
    height: 10dvh;
    width: 80%;
    text-decoration: none;
} */
.rtn:hover{
    height: 10dvh;
    width: 90%;
    background-color: white;
    color:black;
    text-decoration: none;
}